#envelope-container {
  position: relative;
  width: 480px;
  height: 650px;
  margin: auto;
}


#envelope-container > img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 480px;
}

#message {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 400px;
  border: 2px solid gainsboro;
}

#message img {
  width: 100%;
}


#front-closed {
  cursor: pointer;
}

#envelope-container {
  mask: url(/images/envelope-mask.png);
  -webkit-mask: url(/images/envelope-mask.png);
  mask-size: 480px 650px;
  -webkit-mask-size: 480px 650px;
}

body {
	background: linear-gradient(-45deg, #fff1ff, #ffc9de, #ffffff);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#end {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: opacity ease-out 2s; 
  opacity: 0;
}


#click {
  text-align: center;
}

