

.thankgoodness {
  background-color: rgb(227, 249, 255);
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  background-image: linear-gradient(to top, #f5f7fa 0%, #c3cfe2 100%);
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  /* background-image: linear-gradient(to bottom, #a1c4fd 0%, #c2e9fb 100%); */
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  text-align: center;
}

#transition {
  height: 50px;
  background-image: linear-gradient(to top, #FFFEFF 0%, #D7FFFE 100%);

}

#goodness {
  padding: 10px;
  padding-top: 100px;
}

#goodness img {
  width: 100%;
}

#youexclaim {
  transform: rotate(-6deg);
  position: relative;
  left: 30px;
  width: 300px
}


img {
  width: 100%;
}


#nightmare {
  padding-top: 300px;
  text-align: left;
  padding-bottom: 200px;
  margin-right: 100px;
  font-size: 20px;;
}

.boxy {
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
  margin: 200px auto;
  max-width: 450px;
  background-color: white;
}

#regret .boxy {
  border: 0;
  margin: 50px auto;
  width: 80%;
  mix-blend-mode: multiply;
} 

#teary {

}

#handsbox {
  padding-top: 100px;
  border: 0;
  background-color: white;
  background-image: url(/images/lookathands.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  aspect-ratio: 473/280;
  margin: 200px auto;
  background-position: center;

}

.whatsthat {
  font-size: 24px;
}

#soterrible {

  /* https://www.cssportal.com/css-gradient-generator/ */
  background: #FFFFFF;
  background: radial-gradient(ellipse farthest-side at center center, #FFFFFF 73%, #E8E8E8 86%, #FFFFFF 100%);
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 120%;
  font-style: italic;
  margin-top: 100px;
}

#ohgeez {
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, white 100%);
  color: white;
  height: 200px;
}

#regret {
  padding-top: 300px;
  background-color: #505285;
  color: white;
  font-size: 24%px
}

#regret p {
  margin-right: 150px;
}

#regret p.right {
  margin-right: auto;
  margin-left: 150px;
  text-align: right;
}


#regret p.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 150%;
}

#ohgeezend {
  background-image: linear-gradient(to bottom, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, white 100%);
  color: white;
  height: 200px;
}

#shame {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.shamed {
  text-align: center;
  margin-bottom: 200px;
  font-size: 30px;
}

.conclusion {
  text-align: center;
}