body {
  background-color: white;
  color: #202124;
  font-family: "Courier Prime", monospace;
  font-size: 24px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-underline-position: under;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;;
}

main {
  width: 100%;
}

p {
  margin: 0;
  padding: 32px;
}

img, p, blockquote {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  padding: 0 2em;
}

a {
  color: #bc5090;
}

a:hover {
  text-decoration: none;
}

footer {
  margin-top: 2em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

hr {
  border-color: gainsboro;
  border-style: solid;
  border-top: 0;
}

ul {
  list-style-type: square;
}


.selfie {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 200px;
}

img {
  max-width: 500px;
}

.intro {
  color: white;
  background-color: #202124;
  padding-top: 100px;
  padding-bottom: 100px;
}

.reveal {
  background: #202124;
  background: linear-gradient(180deg, #202124 0%, #202124 0%, rgba(255,255,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

span.little {
  font-size: 14px;
}

.feared {
  margin-bottom: 200px;
}

.feared strong {
  font-size: 150%;
}

.narration {
  font-size: 16px;
  margin: 4em 0;
}

.narration p {
  margin: 3em auto;
}

.more-space {
  margin-top: 200px;
  margin-bottom: 200px;
}

.more-space-top {
  margin-top: 200px;
}

.fantasy {
  background: linear-gradient(180deg, #ffffff 0%, #d5e0ff 20%, #e7edff 80%, rgba(255,255,255,1) 100%);
}

.cosmic {

  /* https://www.cssportal.com/css-gradient-generator/ */
  background: #FFFFFF;
  background: radial-gradient(ellipse farthest-side at center center, #FFFFFF 73%, #E8E8E8 86%, #FFFFFF 100%);
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conclusion {
  padding-top: 300px;
  padding-bottom: 300px;
  /* border-style: ridge;
  border: 4px ridge gainsboro; */
  background: linear-gradient(180deg,  rgba(255,255,255,1) 0%, #202124 20%, #202124 100%);
  color: white;
}

.conclusion h3 {
  margin: 0;
  font-size: 18px;
  text-decoration: underline;
}

.conclusion {
  padding: 1em;
  padding-bottom: 150px;
}

.conclusion p {
  padding: 0;
  font-size: 35px;
}

.conclusion .box {
  padding-top: 150px;
}

.choices {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 500px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.choices-down {
  flex-direction: column;
}

.fornow {
  font-size: 16px;
  padding-bottom: 100px;
}

.choices > * {
  /* flex: 1; */
  width: 50%;
}

.choices-down > * {
  width: 80%;
}

.choices button {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.button-4 {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  user-select: none;
  height: 75px;
  line-height: 1.5;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  word-wrap: break-word;
  text-decoration: none;
  text-align: center;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

[hidden] { display: none !important; }

.smoltext {
  font-size: 60%;
}

.medtext {
  font-size: 80%;
}