<!DOCTYPE>
<html>
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/og.png" />
    <meta property="og:url" content="https://rprpg.netlify.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Receipt Printer RPG">
    <meta property="og:description" content="A part-paper, part-digital, choose-your-own-adventure-style zine">
    <meta name="description" content="A part-paper, part-digital, choose-your-own-adventure-style zine">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rprpg.netlify.app">
    <meta property="twitter:url" content="https://rprpg.netlify.app/">
    <meta name="twitter:title" content="Receipt Printer RPG">
    <meta name="twitter:description" content="A part-paper, part-digital, choose-your-own-adventure-style zine">
    <meta name="twitter:image" content="/images/og.png">

    <title>{{ title }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/donut.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ stylesheet | safe }}" type="text/css" media="screen" />
    <script src="{{ script | safe }}" defer></script>
  </head>
    <body>
        <main>
          {{ content | safe }}
        </main>
    </body>
</html>
